html {
  background-color: #2F3A94;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

$medium-screen: 1100px;
$small-screen: 800px;

$white: #fff;
$orange: #ff9100;
$yellow: #ffee00;

.logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;

  &-item {
    max-width: 20em;
  }
}


.container {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;
  
  @media screen and (max-width: $medium-screen) {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  @media screen and (max-width: $small-screen) {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  &-item {
    background-color: $white;
    border-radius: 0.3em;
    border: 0.3em solid transparent;
    color: #001;
    display: block;
    flex-grow: 1;
    margin: 1em;
    max-width: 40%;
    padding: 1em;
    text-decoration: none;

    @media screen and (max-width: $medium-screen) {
      max-width: 80%;
    }
  
    @media screen and (max-width: $small-screen) {
      max-width: 100%;
    }

    &:focus {
      cursor: pointer;
      border: 0.3em solid $yellow;
      border-radius: 0.3em;
    }

    &:hover {
      cursor: pointer;
      border: 0.3em solid $orange;
      border-radius: 0.3em;
    }    
  }
}


